<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>{{ 'bookform.createnew' | translate}}</h2>
    <form [formGroup]="bookForm" (ngSubmit)="onSaveBook()">
      <div class="form-group">
        <label for="title">{{ 'bookform.title' | translate}}</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="author">{{ 'bookform.author' | translate}}</label>
        <input type="text" class="form-control" id="author" formControlName="author">
      </div>
      <div class="form-group">
        <label for="image">{{ 'bookform.Image' | translate}}</label>
        <input id="image" type="file" class="form-control" (change)="detectImages($event)" [disabled]="pdfIsUploading || ImageIsUploading" accept="image/*">
        <p class="text-success" *ngIf="imageUploaded">{{ 'bookform.done' | translate}}</p>
        <mat-progress-bar *ngIf="ImageIsUploading" mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="form-group">
        <label for="pdf">{{ 'bookform.pdf' | translate}}</label>
        <input id="pdf" type="file" class="form-control" (change)="detectPDFs($event)" [disabled]="pdfIsUploading || ImageIsUploading" accept="application/pdf">
        <p class="text-success" *ngIf="pdfUploaded">{{ 'bookform.done' | translate}}</p>
        <mat-progress-bar *ngIf="pdfIsUploading" mode="indeterminate"></mat-progress-bar>
      </div>
      <button class="btn btn-success" type="submit" [disabled]="bookForm.invalid || pdfIsUploading || ImageIsUploading ">
        {{ 'bookform.save' | translate}}
      </button>
      <!--p class="text-danger" *ngIf="fileIsUploading">Attendez le fichier en chargement ! </p-->

    </form>
  </div>
</div>
