<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>{{'signup.sign' | translate}}</h2>
    <form  [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">{{'signup.email' | translate}}</label>
        <input type="text" id="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">{{'signup.password' | translate}}</label>
        <input type="text" id="password" class="form-control" formControlName="password">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid">{{'signup.connect' | translate}}</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
